@model IEnumerable<MLS_UI.Models.NoteDto>

@{
    ViewData["Title"] = "Index";
}

<h2>Liste des notes des patients</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Ajouter une note</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th width="20%">
                @Html.DisplayNameFor(model => model.Patient)
            </th>
            <th width="60%">
                @Html.DisplayNameFor(model => model.PatientNote)
            </th>
            <th width="20%"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Patient)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PatientNote)
                </td>
                <td>
                    <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-secondary">Mettre à jour</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Supprimer</a>
                </td>
            </tr>
        }
    </tbody>
</table>